body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 16px;
}
div, p, input, header {
	box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 30px;
	font-weight: 800;
}

h1 strong {
	color: #2697FF;
}

.container {
	width: 1200px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	padding-bottom: 302px;
}

.header {	
	background: #000;
	padding: 41px 0 0 0;
}

.logo {
	width: 185px;
	height: 51px;
	background: #FFF;
	border-radius: 10px;
}

.phone {
	font-weight: 800;
	font-size: 15px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer {
	margin-top: 180px;
	width: 483px;
}

.offer p {
	margin-top: 14px;
}